<h1>Editing city info <%= @city.city_name %></h1>
<% if @city_info.city_audio.url.to_s!='' %>
  <%= @city_info.city_audio.url.to_s %><br>
  <%= link_to "Delete audio", :controller => :city_infos, :action => :deleteCityAudio %>
<% end %>
<%= form_for :city_info, url: city_info_path(@city_info), method: :patch do |f| %>
 
  <% if @city_info.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@city_info.errors.count, "error") %> prohibited
        this city_info from being saved:
      </h2>
      <ul>
        <% @city_info.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
 <p>
  <%= f.label :city_audio %><br>
  <%= f.file_field :city_audio %>
  </p>
  <p>
    <%= f.label :language %><br>
    <%= f.text_area :language %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', city_path(@city_info.city_id) %>