<%= form_for([@city, @city.markers.build]) do |f| %>
  <p>
  <%= f.label :city_images %><br>
  <%= f.file_field :city_images %>
  </p>
  <p>
  <%= f.label :city_audio %><br>
  <%= f.file_field :city_audio %>
  </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>