
<script>

var myCenter = new google.maps.LatLng(<% if @marker.marker_lat.to_s!='' %><%= @marker.marker_lat %>,<%= @marker.marker_lng %><% else %>52.3779046344369,4.897584915161133<% end %>);
var marker;

function initialize() {

  var mapOptions = {
    center:myCenter,
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);
  var marker = new google.maps.Marker({
    position:myCenter,
    map: map,
    title: 'Hello World!',
    draggable:true
  });

  google.maps.event.addListener(marker, 'dragend', function (event) {
    document.getElementById("marker_marker_lat").value = this.getPosition().lat();
    document.getElementById("marker_marker_lng").value = this.getPosition().lng();

  });
}

google.maps.event.addDomListener(window, 'load', initialize);

$(function() {
    $( "#tabs" ).tabs();
  });

</script>
<div class="container content">
<div class="col xl8 l8 m8 s8">
  <h2><%= @marker_info_array[0].name %></h2>
  
<div id="tabs">
  </div>
  <%= form_for :marker, url: marker_path(@marker), method: :patch do |f| %>
  <p>
    <%= f.submit "Opslaan" %><%= link_to 'Delete marker', marker_path(@marker), method: :delete, data: { confirm: 'Weet je het zeker?' }, :class => 'deleteButton' %>
  </p>
  <% if @marker.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@marker.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @marker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="tabs">
  <p class='tab-nld active'>nld</p>
  <p class='tab-eng'>eng</p>
  <p class='tab-esp'>esp</p>
  <div class='clear'></div>
  <div class='tabs-content'>
  <div class='info-nld' style='display:block;'>
  <%= f.label :marker_info_name_nld %><br>
  <%= f.text_field :marker_info_name_nld, value: @marker_info_array[0].name %><br>
  <%= f.label :marker_info_text_nld %><br>
  <%= f.text_area :marker_info_text_nld, value: @marker_info_array[0].body %><br>
  <%= f.label :marker_info_audio_nld %><br>
  <%= f.file_field :marker_info_audio_nld %><br>
  <%= @marker_info_array[0].marker_audio %><br>
</div>
<div class='info-eng' style='display:none;'>
  <%= f.label :marker_info_name_eng %><br>
  <%= f.text_field :marker_info_name_eng, value: @marker_info_array[1].name %><br>
  <%= f.label :marker_info_text_eng %><br>
  <%= f.text_area :marker_info_text_eng, value: @marker_info_array[1].body %><br>
  <%= f.label :marker_info_audio_eng %><br>
  <%= f.file_field :marker_info_audio_eng %><br>
  <%= @marker_info_array[1].marker_audio %><br>
</div>
<div class='info-esp' style='display:none;'>
  <%= f.label :marker_info_name_esp %><br>
  <%= f.text_field :marker_info_name_esp, value: @marker_info_array[2].name %><br>
  <%= f.label :marker_info_text_esp %><br>
  <%= f.text_area :marker_info_text_esp, value: @marker_info_array[2].body %><br>
  <%= f.label :marker_info_audio_esp %><br>
  <%= f.file_field :marker_info_audio_esp %><br>
  <%= @marker_info_array[2].marker_audio %><br>
</div>
</div>
</div>
  <p>
  <%= f.label 'Afbeelding wijzigen/toevoegen' %><br>
  <div class="upload">Afbeelding toevoegen
  <%= f.file_field :marker_images %>
  </div>
  </p>
  <p>
    <%= f.hidden_field :marker_lng %>
  </p>
   <p>
    <%= f.hidden_field :marker_lat %>
  </p>



  <% end %>


  <% if @marker.marker_images.url.to_s!='' %>
  <br>
  <% end %>

</div>
<div class="col xl3 l3 m3 s3">
  <% if @marker.marker_images.url.to_s!='' %>
    <%= link_to "Afbeelding verwijderen", :controller => :markers, :action => :deleteMarkerImage %>
    <%= image_tag (@marker.marker_images.url.to_s),width: '100%' %>
  <% end %>
  <div id="googleMap"  style="width:100%;height:300px;"></div>
</div>
<div class="clear"></div>
</div>

<script type="text/javascript">
  
$('.tab-nld').click(function(){
  $('.info-nld').css({'display':'block'});
  $('.tab-nld').addClass( "active" );
  $('.info-eng').css({'display':'none'});
  $('.tab-eng').removeClass( "active" );
  $('.info-esp').css({'display':'none'});
  $('.tab-esp').removeClass( "active" );
});

$('.tab-eng').click(function(){
  $('.info-eng').css({'display':'block'});
  $('.tab-eng').addClass( "active" );
  $('.info-nld').css({'display':'none'});
  $('.tab-nld').removeClass( "active" );
  $('.info-esp').css({'display':'none'});
  $('.tab-esp').removeClass( "active" );
});

$('.tab-esp').click(function(){
  $('.info-esp').css({'display':'block'});
  $('.tab-esp').addClass( "active" );
  $('.info-eng').css({'display':'none'});
  $('.tab-eng').removeClass( "active" );
  $('.info-nld').css({'display':'none'});
  $('.tab-nld').removeClass( "active" );
});

</script>
