<%= image_tag @marker.marker_images.url.to_s %><br>
<%= @marker.marker_audio.url.to_s %><br>
<%= link_to "Delete image", :controller => :markers, :action => :deleteMarkerImage %>
<%= link_to "Delete audio", :controller => :markers, :action => :deleteMarkerAudio %><br>

<strong>Marker: <%= @marker.name %> </strong> <%= link_to 'Edit', edit_marker_path(@marker) %> <%= link_to 'Delete', marker_path(@marker),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<h2>Marker info</h2>

<%= render @marker.marker_infos %>

<h2>Marker info toevoegen:</h2>

<%= render 'marker_infos/form' %>


<%= link_to 'Back', city_path(@marker.city_id) %>