<!-- <tr data-href='<%= marker_info_path(marker_info) %>'>
	<td><%= link_to marker_info.body, marker_info_path(marker_info) %></td>
	<td><%= marker_info.language %></td>
</tr> -->
<b><%= marker_info.language %></b>
<li><a href="#tabs-1"><%= marker_info.id %></a></li>
<div id="tabs-1">
	<%= form_for :marker_info_nld, url: marker_info_path(marker_info), method: :patch do |f| %>

	  <% if marker_info.errors.any? %>
	    <div id="error_explanation">
	      <h2>
	        <%= pluralize(marker_info.errors.count, "error") %> prohibited
	        this marker_info from being saved:
	      </h2>
	      <ul>
	        <% marker_info.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
	  
		<p>
			<%= f.label :marker_info_text_nld %><br>
			<%= f.text_field :marker_info_text_nld, value: marker_info.body %>
		</p>
		<p>
			<%= f.label :marker_audio, value: marker_info.marker_audio %><br>
			<%= f.file_field :marker_audio %>
		</p>
	 
		<p>
			<%= f.submit "Opslaan" %>
		</p>
	<% end %>
</div>