<h1>Editing marker info <%= @marker.name %></h1>
<% if @marker_info.marker_audio.url.to_s!='' %>
  <%= @marker_info.marker_audio.url.to_s %><br>
  <%= link_to "Delete audio", :controller => :marker_infos, :action => :deleteMarkerAudio %>
<% end %>
 <%= link_to 'Delete', marker_info_path(@marker_info), method: :delete, data: { confirm: 'Are you sure?' } %>
 
<%= form_for :marker_info, url: marker_info_path(@marker_info), method: :patch do |f| %>
 
  <% if @marker_info.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@marker_info.errors.count, "error") %> prohibited
        this marker_info from being saved:
      </h2>
      <ul>
        <% @marker_info.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
 <p>
  <%= f.label :marker_audio %><br>
  <%= f.file_field :marker_audio %>
  </p>
  <p>
    <%= f.label :language %><br>
    <%= f.text_area :language %>
  </p>
 
  <p>
    <%= f.submit "Opslaan" %>
  </p>
 
<% end %>

<%= link_to 'Back', marker_path(@marker_info.marker_id) %>