<div class="container">

  <div class="tabbed">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
       <% end %> 
    <div id="tab_nl" class="tab" onclick="changeTab(1)">Nederlands</div>
    <div id="tab_en" class="tab active" onclick="changeTab(2)">Engels</div>
    <div id="tab_es" class="tab" onclick="changeTab(3)">Spaans</div>
    <div class="add-form">
      <%= form_for :country, url: country_path(@country), method: :patch do |f| %>

        <% if @country.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@country.errors.count, "error") %> Land kan niet opgeslagen worden
            </h2>
            <ul>
              <% @country.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <span id="en" style="display: inline;">
          <%= f.text_field :country_name_eng, :placeholder => "Naam land (Engels)" %>
        </span>
        <span id="nl" style="display: none;">
          <%= f.text_field :country_name_nld, :placeholder => "Naam land (Nederlands)" %>
        </span>
        
        <span id="es" style="display: none;">
          <%= f.text_field :country_name_esp, :placeholder => "Naam land (Spaans)" %>
        </span>
        <div class="btn-holder">
          <%= f.submit "Opslaan" , :class => "btn btn-primary float-right"%>
        </div>

        <div class="delete-combo">
          <%= link_to 'Land verwijderen', country_path(@country), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn delete-item' %>
          <div class="delete-icon-white"></div>
        </div>


      <% end %>
    </div>
  </div>
  <div class="page-header">
    Kies de stad
    <span>
    Waarin u bewerkingingen in wilt voeren,<br/>of voeg een stad toe.
    </span>
  </div>
  <div  class="country-table weird-table">
    <table>
      <tbody>
          <%= render @country.cities %>
      </tbody>
    </table>
    <%= render 'cities/form' %>
  </div>







</div>
