<p>

  <strong>Land:</strong>
  <%= @country.country_name %>
</p>


<h2>Steden in <%= @country.country_name %></h2>

<% @country.cities.each do |city| %>
  <p>
    <strong>Stad:</strong>
    <%= city.city_name %>
    <%= link_to 'Show', city_path(city) %>
    <%= link_to 'Edit', edit_city_path(city) %>
    <%= link_to 'Delete', city_path(city),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  </p>
<% end %>

<h2>Stad toevoegen:</h2>
<%= form_for([@country, @country.cities.build], :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %><br>
    <%= f.file_field :city_images %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', countries_path() %>