<div class="container content">
<div class="col xl8 l8 m8 s8">


<h2><%= @country.country_name %></h2>


<%= form_for :country, url: country_path(@country), method: :patch do |f| %>
  <p>
    <%= f.submit "Opslaan" %>
    <%= link_to 'Land verwijderen', country_path(@country), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'deleteButton' %>
  </p>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@country.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @country.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :Naam_land %><br>
    <%= f.text_field :country_name %>
  </p>

<% end %>


<!-- sssss -->



<table>
	<tr>
		<th>
			Steden
		</th>
	</tr>
	<%= render @country.cities %>
</table>
<%= render 'cities/form' %>
</div>
<div class="clear"></div>
</div>