<div class="container">
  <div class="col-50">

    <%= form_for :route, url: route_path(@route), method: :patch do |f| %>

    <% if @route.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@route.errors.count, "error") %> Route kan niet worden opgeslagen
        </h2>
        <ul>
          <% @route.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="tabbed">
      <div id="tab_nl" class="tab active" onclick="changeTab(1)">Nederlands</div>
      <div id="tab_en" class="tab" onclick="changeTab(2)">Engels</div>
      <div id="tab_es" class="tab" onclick="changeTab(3)">Spaans</div>
      <div class="add-form">
        <span id="nl">
          <%= f.text_field :name_nld %>
          <%= f.text_area :info_nld %>
        </span>
        <span id="en">
          <%= f.text_field :name_eng %>
          <%= f.text_area :info_eng %>
        </span>
        <span id="es">
          <%= f.text_field :name_esp %>
          <%= f.text_area :info_esp %>
        </span>

        <%= f.check_box :multiple_starting_points, :class => "starting-point" %>
        Verplicht startpunt<br/>
        Aantal KM <%= f.text_field :afstand, :placeholder => "Aantal KM", :class => "distance-input" %>
        <p style="visibility:hidden; position:absolute;" class='city_name'><%= @city.city_name %></p>
        <div class='view_in_maps'>?</div>
        <div class="btn-holder min-47">
          <%= f.submit "Opslaan" , :class => "btn btn-primary float-right"%>
        </div>

        <div class="delete-combo top-10">
          <%= link_to 'Route verwijderen', route_path(@route), method: :delete, data: { confirm: 'Weet je het zeker?' }, :class => 'btn delete-item' %>
          <div class="delete-icon-white"></div>
        </div>


      </div>


</div></div>
<div class="col-50">
  <br/>
  <div class="page-header">
      Huidige route
  </div>
  <div  class="marker-table">
    <table class="markers_in_route add-marker">
    <% @markers_in_route.each do |o| %>
    <tr>
      <td class="order"></td>
      <td data-href='<%= marker_path(o) %>'>
        <span class="marker-name"><%= o.name %></span>
      </td>
      <td>
        <div data-href='<%= route_path(:marker => o, :type => 'up') %>' class="arrow-up arrow"></div>
        <div data-href='<%= route_path(:marker => o, :type => 'down') %>' class="arrow-down arrow"></div>
      </td>

      <td data-href='<%= route_path(:marker => o, :type => 'delete') %>'>
        <div class="delete-icon"></div>
      </td>
    </tr>

    <% end %>

    </table>
  </div>





  <% end %>
  <br/>
  <div class="page-header">
      Beschikbare bezienswaardigheden
  </div>
  <div  class="marker-table">
    <table class="add-marker">
      <% @markers_not_in_route.each do |i| %>
      <tr>
        <td data-href='<%= marker_path(i) %>'>
          <%= i.name %>
        </td>
        <td data-href='<%= route_path(:marker => i, :type => 'add') %>'>
          <div class="add-circle">+</div>
        </td>
      </tr>

    <% end %>

    </table>
  </div>
  <br>
  </div>
  </div>
<script type="text/javascript">

$('.view_in_maps').click( function(){
  var win = window.open(google_maps_link, '_blank');
  win.focus();
});

var google_maps_link = 'https://www.google.nl/maps/dir/';
var city_name = $('.city_name').html();
$('.marker-name').each( function(){

  var name = $(this).text();

  if(name != undefined) {
    google_maps_link += name+',+'+city_name+'/';
  }

});


</script>
