<script>
var allWaypoints;
var start;
function setWaypoints() {
  allWaypoints = [];
  $( ".lat-lng" ).each(function( index ) {

    var lat =  $(this).data('lat');
    var lng = $(this).data('lng');
    var latLng = new google.maps.LatLng(lat,lng);
    var add = {location: latLng,stopover:false};
    allWaypoints.push(add);
    if(index === 0){
      start = new google.maps.LatLng(lat,lng);
    }

  });


}

function calculateRoute() {
        var myOptions = {
          zoom: 10,
          center: new google.maps.LatLng(53.0, 9.0),
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // Draw the map
        var mapObject = new google.maps.Map(document.getElementById("map"), myOptions);
        console.log(allWaypoints);
        var directionsService = new google.maps.DirectionsService();
        var directionsRequest = {
          origin: start,
          destination: start,
          waypoints: allWaypoints,
          optimizeWaypoints: false,
          travelMode: google.maps.DirectionsTravelMode.WALKING,
          unitSystem: google.maps.UnitSystem.METRIC
        };
        directionsService.route(
          directionsRequest,
          function(response, status)
          {
            if (status == google.maps.DirectionsStatus.OK)
            {
              new google.maps.DirectionsRenderer({
                map: mapObject,
                directions: response
              });
              showSteps(response);
            }
            else
              $("#error").append("Unable to retrieve your route<br />");
          }
        );
      }
      var route = [];
      function showSteps(directionResult) {
      var myRoute = directionResult.routes[0].legs[0];
      for (var i = 0; i < myRoute.steps.length; i++) {
            var lati = myRoute.steps[i].start_point.lat();
            var longi = myRoute.steps[i].start_point.lng();

          route.push("["+lati,longi+"]");
      }
      console.log(directionResult.routes[0].legs[0].distance.value);
      $("#path").val(route);
      var distance = (directionResult.routes[0].legs[0].distance.value) / 1000;
      $("#route_afstand").val( distance.toFixed(1) );
    }


      $(document).ready(function() {
        setWaypoints();
        calculateRoute();
      });
</script>
<div class="container">
  <div class="col-50">
 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %><span class="close-alert"></span></div>
       <% end %>
    <%= form_for :route, url: route_path(@route), :class=>"no-center", method: :patch do |f| %>

    <% if @route.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@route.errors.count, "error") %> Route kan niet worden opgeslagen
        </h2>
        <ul>
          <% @route.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="tabbed">
      <div id="tab_en" class="tab active" onclick="changeTab(2)">Engels</div>
      <div id="tab_nl" class="tab" onclick="changeTab(1)">Nederlands</div>
      <div id="tab_es" class="tab" onclick="changeTab(3)">Spaans</div>
      <div class="add-form">
        <span id="nl" style="display: none;">
          <%= f.text_field :name_nld, :placeholder => "Route Naam (Nederlands)" %>
          <%= f.text_area :info_nld, :placeholder => "Route Informatie (Nederlands)" %>
        </span>
        <span id="en" style="display: inline;">
          <%= f.text_field :name_eng, :placeholder => "Route Naam (Engels)" %>
          <%= f.text_area :info_eng, :placeholder => "Route Informatie (Engels)" %>
        </span>
        <span id="es" style="display: none;">
          <%= f.text_field :name_esp, :placeholder => "Route Naam (Spaans)" %>
          <%= f.text_area :info_esp, :placeholder => "Route Informatie (Spaans)" %>
        </span>

        <%= f.check_box :multiple_starting_points, :class => "starting-point" %>
        Verplicht startpunt<br/>
        Aantal KM <%= f.text_field :afstand, :placeholder => "Aantal KM", :class => "distance-input" %>
        <p style="visibility:hidden; position:absolute;" class='city_name'><%= @city.city_name %></p>
        <%= f.text_field :path, :id => "path", :type => "hidden" %>
        <div class="btn-holder min-47">
          <%= f.submit "Opslaan" , :class => "btn btn-primary float-right"%>
        </div>

        <%= render 'routes/delete_form' %>


      </div>


  </div>
  <div id="map"></div>
</div>

<div class="col-50">
  <br/>
  <div class="page-header">
      Huidige route
  </div>
  <div  class="marker-table">
    <table class="markers_in_route add-marker">
    <% @markers_in_route.each do |o| %>
    <tr>
      <td class="order"></td>
      <td data-href='<%= marker_path(o) %>'>
        <span data-lat='<%= o.marker_lat %>' data-lng='<%= o.marker_lng %>' class="marker-name lat-lng"><%= o.name %></span>
      </td>
      <td>
        <div data-href='<%= route_path(:marker => o, :type => 'up') %>' class="arrow-up arrow"></div>
        <div data-href='<%= route_path(:marker => o, :type => 'down') %>' class="arrow-down arrow"></div>
      </td>

      <td class="link" data-href='<%= route_path(:marker => o, :type => 'delete') %>'>
        <div class="delete-icon"></div>
      </td>
    </tr>

    <% end %>

    </table>
  </div>





  <% end %>
  <br/>
  <div class="page-header">
      Beschikbare bezienswaardigheden
  </div>
  <div  class="marker-table">
    <table class="add-marker">
      <% @markers_not_in_route.each do |i| %>
      <tr>
        <td data-href='<%= marker_path(i) %>'>
          <%= i.name %>
        </td>
        <td class="link" data-href='<%= route_path(:marker => i, :type => 'add') %>'>
          <div class="add-circle">+</div>
        </td>
      </tr>

    <% end %>

    </table>
  </div>
  <br>
  </div>
  </div>
<script type="text/javascript">

$(function()  {

  $('.view_in_maps').click( function(){
    var win = window.open(google_maps_link, '_blank');
    win.focus();
  });

  var google_maps_link = 'https://www.google.nl/maps/dir/';
  var city_name = $('.city_name').html();

  $('.marker-name').each( function(){

    var name = $(this).text();

    if(name != undefined) {
      google_maps_link += name+',+'+city_name+'/';
    }

  });

  if( $('.order')){
    var i = 0;
    $( ".order" ).each(function( index ) {
      i++;
      $(this).html(i);
    });
  }

  $("#route_afstand").keyup(function(e){
    var key = e.which ? e.which : event.keyCode;
    if(key == 110 || key == 188) {
      e.preventDefault();
      var value = $(this).val();
      $(this).val(value.replace(",","."));
    }
  });

});

</script>
