<h1>Editing city</h1>
<%= image_tag @city.city_images.url.to_s %>
<%= form_for :city, url: city_path(@city), method: :patch do |f| %>

  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@city.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  <%= f.label :city_images %><br>
  <%= f.file_field :city_images %>
  </p>
  <p>
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', city_path(@city) %>
