<h1>New City</h1>
<%= form_for :city, url: cities_path do |f| %>
  <p>
    <%= f.label :city_name %><br>
    <%= f.text_field :city_name %>
  </p>

  <p>
    <%= f.label :language %><br>
    <%= f.text_field :language %>
  </p>

  <p>
    <%= f.label :city_text %><br>
    <%= f.text_area :city_text %>
  </p>
  <%= f.label :city_images %>
  <%= f.file_field :city_images %>
  <%= f.file_field :city_audio %><br>
  <p>
    <%= f.submit %>
  </p>
<% end %>
