<h2><%= @city.city_name %></h2>
<%= form_for :city, url: city_path(@city), method: :patch do |f| %>
<% if @city.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@city.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @city.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <p>
  <%= f.label 'afbeelding_wijzigen/toevoegen' %><br>
  <%= f.file_field :city_images %>
  </p>
  <p>
    <%= f.label :naam_stad %><br>
    <%= f.text_field :city_name %>
  </p>

  <p>
    <%= f.submit "Opslaan"%>
  </p>

<% end %>

<%= link_to 'Stad verwijderen', city_path(@city),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>

<% if @city.city_images.url.to_s!='' %>
	<%= link_to "Afbeelding verwijderen", :controller => :cities, :action => :deleteCityImage %><br>
	<%= image_tag @city.city_images.url.to_s %><br>
<% end %>

<h2>Stad info</h2>
<table>
<tr>
	<th>Tekst</th>
	<th>Taal</th>
</tr>
	<%= render @city.city_infos %>
</table>

<%= render 'city_infos/form' %>

<h2>Markers</h2>
<table>
	<tr>
		<th>Naam</th>
	</tr>
	<%= render @city.markers %>
</table>

<%= render 'markers/form' %>


<%= link_to 'Back', country_path(@city.country_id) %>