<strong>Stad: <%= @city.city_name %></strong>

<h2>Stad info</h2>

<%= render @city.city_infos %>

<h2>Stad info toevoegen:</h2>

<%= render 'city_infos/form' %>

<h2>Markers</h2>

<%= render @city.markers %>

<h2>Marker toevoegen:</h2>

<%= render 'markers/form' %>

<%= link_to 'Edit', edit_city_path(@city) %>
<%= link_to 'Back', country_path(@city.country_id) %>