<div class="container">
  <div class="col-50">
   <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %><span class="close-alert"></span></div>
       <% end %>
    <%= form_for :city, :html => {:class => 'city_info'}, url: city_path(@city), method: :patch do |f| %>

    <% if @city.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@city.errors.count, "error") %> prohibited
          Deze stad kan niet worden opgeslagen
        </h2>
        <ul>
          <% @city.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="tabbed">
      <div id="tab_en" class="tab active" onclick="changeTab(2)">Engels</div>
      <div id="tab_nl" class="tab" onclick="changeTab(1)">Nederlands</div>
      <div id="tab_es" class="tab" onclick="changeTab(3)">Spaans</div>
      <div class="add-form">
        <span id="nl" style="display: none;">
          <%= f.text_field :city_info_name_nld, :placeholder => "Naam Stad (Nederlands)", value: @city_info_array[0].name %>
          <%= f.text_area :city_info_text_nld, :placeholder => "Informatie Stad (Nederlands)", value: @city_info_array[0].body %>
        </span>
        <span id="en" style="display: inline;">
          <%= f.text_field :city_info_name_eng, :placeholder => "Naam Stad (Engels)", value: @city_info_array[1].name %>
          <%= f.text_area :city_info_text_eng, :placeholder => "Informatie Stad (Engels)", value: @city_info_array[1].body %>
        </span>
        <span id="es" style="display: none;">
          <%= f.text_field :city_info_name_esp, :placeholder => "Naam Stad (Spaans)", value: @city_info_array[2].name %>
          <%= f.text_area :city_info_text_esp, :placeholder => "Informatie Stad (Spaans)", value: @city_info_array[2].body %>
        </span>
        <div class="btn-holder">
          <%= f.submit "Opslaan" , :class => "btn btn-primary float-right"%>
        </div>


      </div>
    </div>
  </div>
  <div class="col-50">
    <div class="page-header w360">
        Afbeeldingen van
        <%= @city_info_array[0].name %>
    </div>
    <div class="upload-form">
      <% if @city.city_images.url.to_s!='' %>
        <div class="upload">
          <%= link_to "",  :controller => :cities, :action => :deleteCityImage %>
          <%= image_tag (@city.city_images.url.to_s), :class => "image" %>
        </div>
      <% else %>
        <div class="upload">
          <%= f.file_field :city_images, :class => "image" , :accept => ".jpg, .jpeg, .gif, .png" %>
        </div>
      <% end %>

      <% if @city.city_images_2.url.to_s!='' %>
        <div class="upload">
          <%= link_to " ",  :controller => :cities, :action => :deleteCityImage2 %>
          <%= image_tag (@city.city_images_2.url.to_s), :class => "image"  %>
        </div>
      <% else %>
        <div class="upload">
          <%= f.file_field :city_images_2, :class => "image"  , :accept => ".jpg, .jpeg, .gif, .png"  %>
        </div>
      <% end %>

      <% if @city.city_images_3.url.to_s!='' %>
        <div class="upload">
          <%= link_to "", :controller => :cities, :action => :deleteCityImage3 %>
          <%= image_tag (@city.city_images_3.url.to_s), :class => "image" %>
        </div>
      <% else %>
        <div class="upload">
          <%= f.file_field :city_images_3, :class => "image"  , :accept => ".jpg, .jpeg, .gif, .png"  %>
        </div>
      <% end %>

      <% if @city.city_images_4.url.to_s!='' %>
        <div class="upload">
          <%= link_to "",  :controller => :cities, :action => :deleteCityImage4 %>
          <%= image_tag (@city.city_images_4.url.to_s), :class => "image" %>
        </div>
      <% else %>
        <div class="upload">
          <%= f.file_field :city_images_4, :class => "image"  , :accept => ".jpg, .jpeg, .gif, .png"  %>
        </div>
      <% end %>

      <% end %>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="col-50">
    <div class="page-header">
      Bezienswaardigheden in
      <%= @city_info_array[0].name %>
    </div>
    <div  class="country-table">
      <table>
        <tbody>
            <%= render @city.markers %>
        </tbody>
      </table>
      <%= render 'markers/form' %>
    </div>
    <div class="spacer"></div>
    <div class="page-header">
      Wandelroutes in
      <%= @city_info_array[0].name %>
    </div>
    <div  class="country-table">
      <table>
        <tbody>
            <%= render @city.routes %>
        </tbody>
      </table>
      <%= render 'routes/form' %>
    </div>
    <%= render 'cities/delete_form' %>
</div>
</div>
</div>
</div>

<script type="text/javascript">
  $(document).on('change','#city_city_images' , function(){
    $( ".city_info" ).submit();
  });
  $(document).on('change','#city_city_images_2' , function(){
    $( ".city_info" ).submit();
  });
  $(document).on('change','#city_city_images_3' , function(){
    $( ".city_info" ).submit();
  });
  $(document).on('change','#city_city_images_4' , function(){
    $( ".city_info" ).submit();
  });
</script>
