<% if @city.city_images.url.to_s!='' %>
	<%= image_tag @city.city_images.url.to_s %><br>
	<%= link_to "Delete image", :controller => :cities, :action => :deleteCityImage %><br>
<% end %>

<strong>Stad: <%= @city.city_name %> </strong> <%= link_to 'Edit', edit_city_path(@city) %> <%= link_to 'Delete', city_path(@city),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>

<h2>Stad info</h2>

<%= render @city.city_infos %>

<h2>Stad info toevoegen:</h2>

<%= render 'city_infos/form' %>

<h2>Markers</h2>

<%= render @city.markers %>

<h2>Marker toevoegen:</h2>

<%= render 'markers/form' %>


<%= link_to 'Back', country_path(@city.country_id) %>