<!DOCTYPE html>
<html>
<head>
  <title>Sight Guide</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <!-- Google Maps API -->
  <%= javascript_include_tag "jquery.js", "data-no-turbolink" => true %>
  <%= javascript_include_tag "jquery_ujs.js", "data-no-turbolink" => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false", "data-no-turbolink" => true %>
</head>
<body>
  <header>
      <div class="container">
          <div class="logo"></div>

          <div class="username">
          <% if current_user %>
            <%= current_user.name %>
          <% end %>
          </div>
          <div class="hamburger">
              <div class="hb-menu">
                  <div class="hb-caret"></div>
                  <%= link_to "Beheerder toevoegen", '/signup' %>
                  <%= link_to "Uitloggen", '/logout' %>
              </div>
          </div>


      </div>
  </header>
  <div class="crumbs">
    <div class="container">
      <% if current_user %>
        <%= GetBreadcrumbs() %>
      <% end %>
    </div>
  </div>

  <%= yield %>



</body>
</html>
