<!DOCTYPE html>
<html>
<head>
  <title>SightGuide</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>
  <!-- Google Maps API -->
   
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3&sensor=false", "data-no-turbolink" => true %>

</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>

</body>
</html>
